/* Balises générales de la page */

body {

	background-color: #323274;
	margin:auto;
	width: 75%;
	
}

h1{
    text-align: center;
	font-family: bangers;
	color: #F27321;
	text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	font-size: 540%;
}

.text{
    color:white;
    font-family: arial;
}

.text_center{
    text-align:center;
}

/* Balises TABLE */

table {
    border-collapse: collapse;
}

table, tr, td{
    border: 1px solid white;
    color: white;
    text-align:center;
    width: 500px; 

}

th{
    border: 3px solid white;
    font-weight: bold;
    color: white;
    text-align:center;

}

/* Balises INPUT */

input[type="submit"]{
	display: block;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 250px;
	height: 50px;
	font-size: 220%;
	background-color:#F27321;
	border-color: #5858CC;
	border-radius: 10px;
	font-family: bangers;
	color: #323274;
	text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

input[type="checkbox"] {
    border: 1px solid white;
    font-weight: bold;
    color: white;
    text-align:center;
}



/* Balises div title */
#header{
    position:relative;
    margin-left: auto;
    margin-right: auto;
}

/* Balises div nav */
#nav{
    position:relative;
    display:block;
    float:left;
    margin-left: auto;
    margin-right: auto;
    width:500px;
}

/* Balises div form */
#content{
    position:relative;
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:500px ;
    height:150px;
    margin-left: 510px;
}

/* Balises div footer */
#footer{
    position:relative;
    display:block;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    margin-left: 510px;
    margin-top:10px
}



