/* Balises générales de la page */

body {

	background-color: #323274;
	background-image:url(/SuperComics/img/supcom.png);
	background-repeat:no-repeat;
	margin:auto;
	width: 75%;
}

input{
	display: block;
	margin: auto;
	margin-top: 200px;
	margin-bottom: 50px;
	width: 250px;
	height: 50px;
	font-size: 220%;
}
section.tabCenter table{
	margin: 0 auto;
}

/* Balises spé textes */

.text, table{
	color:white;
 	font-family: arial;
 	text-align: center;
}

.typo, h1{

	text-align: center;
	font-family: bangers;
	color: #F27321;
	text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

/* Balises spé table */

section.tabCenter table{
	margin: 0 auto;
	margin-bottom: 25px;
}

table {
    border-collapse: collapse;
}

table, tr, td{
    border: 1px solid white;
    color: white;
    width: 500px; 

}

th{
    border: 3px solid white;
    font-weight: bold;
    color: white;
    text-align:center;
}

.player{
	display: inline-block;
	color:white;
 	font-family: arial;
 	text-align: center;
 	border: solid 5px;
 	border-radius: 10px;
 	margin-top: 10%;
 	margin-left: 25%;
 	height: 20%;
 	width: 20%;

}
.vs{
	display: inline-block;
	color:white;
 	font-family: arial;
 	text-align: center;
  	border: solid 5px;
  	border-radius: 10px;
 	margin-top: 5%;
 	margin-left: 5%;
 	height: 5%;
 	width: 10%;

}
.challenger{
	display: inline-block;
	color:white;
 	font-family: arial;
 	text-align: center;
  	border: solid 5px;
  	border-radius: 10px;
 	margin-top: 10%;
 	margin-left: 5%;
 	height: 20%;
 	width: 20%;

}

<<<<<<< HEAD
=======
section.playerMeter{

}

table.playerList{
	margin-bottom: 250px;
}

>>>>>>> 01e4c9e7dd095d40113f898ceb95a5972c9335de
/* Balises spé images */

img.supcom{
	float: left;
	max-width: 50%;
	height: auto;
}

/* Balises spé formulaires */

input.launchGameButton{
	display: block;
	margin: auto;
	margin-top: 200px;
	margin-bottom: 50px;
	width: 250px;
	height: 50px;
	font-size: 220%;
}

<<<<<<< HEAD
=======
input.defyButton{
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 200px;
	width: 250px;
	height: 50px;
	font-size: 220%;
}

>>>>>>> 01e4c9e7dd095d40113f898ceb95a5972c9335de
